<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/password.css' %}">
    <link rel="icon" type="image/png"  href="{% static '/images/robot.png'%}">
    <title>{{title}}</title>
</head>
<body>  
    <div class="main">
        <div class="container">
            {% if messagetype == "error" %}    
                <script defer>alert("{{message}}")</script>    
            {% endif %}
            
            <form action="" method="post"> 
                {%csrf_token%}        
                {% if gateway == "emailverification" %}
                <div class="sub-container">
                    <p>Write your email for authentication</p>
                    <input type="text" class="input-text" name="emailtxt" id="emailtxt" placeholder="abc@gmail.com" required>
                    <button type="submit" id="btn">Send</button>
                </div>
                
                {% elif gateway == "otpverify" %}  
                <div class="sub-container1">
                    <p>We send otp to your email</p>
                    <input type="text" class="input-text" name="otp" id="otp" placeholder="0000">
                    <button type="submit" id="btn">Submit</button>
                </div>
                {% elif gateway == "createpass" %} 
                <div class="sub-container2">
                    <p>Create New Password</p>
                    <div class="inps">
                        <input type="password" class="input-text" name="crpass" class="inp" placeholder="****">
                        <input type="password" class="input-text" name="cnpass"  class="inp" placeholder="****">
                    </div>
                    
                    <p>create password and confirm password should match</p>
                    <button type="submit">Create</button>
                </div>
                {% endif %}     
            </form>
        </div>

    </div>   
    
</body>
</html>