*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: "Poppins","Sans-serif";
}
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.container{
    width: 450px;
    height: 300px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 20px rgb(158, 158, 158);
    border-radius: 7px;
}
.container .sub-container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    justify-content: center;
}

.container .sub-container p{
    margin-bottom: 15px;
}
.container .sub-container .input-text{
    background: rgba(96, 96, 255, 0.479);
    border: none;
    outline: none;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    padding-left: 8px;
    color: blueviolet;
}
.container .sub-container .input-text::placeholder{
    color: #fff;
}

.container .sub-container button{
    width: 80px;
    height: 40px;
    background: blueviolet;
    border: none;
    outline: none;
    border-radius: 5px;
    color:#fff;
    font-size: 25x;
    font-weight: 600;
    transition: 0.2s;
    text-align: center  ;
}
.container .sub-container button:hover{
    width: 90px;
}

