<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/passwordreset.css' %}">
    <title>{{title}}</title>
</head>
<body>     
    <div class="container">
        {% if messagetype == "error" %}    
            <script defer>alert("{{message}}")</script>    
        {% endif %}
        <form action="" method="post"> 
            {%csrf_token%}        
            {% if gateway == "emailverification" %}
                <p>Write your email for authentication</p>
                <input type="text" name="emailtxt" id="emailtxt" placeholder="abc@gmail.com">
                <button type="submit" id="btn">Send</button>
            {% elif gateway == "otpverify" %}  
                <p>We send otp to your email</p>
                <input type="text" name="otp" id="otp" placeholder="0000">
                <button type="submit" id="btn">Submit</button>
            {% elif gateway == "createpass" %} 
                <p>Create New Password</p>
                <input type="password" name="crpass" id="">
                <input type="password" name="cnpass" id="">
                <p>create password and confirm password should match</p>
                <button type="submit">Create</button>
            {% endif %}     
        </form>
    </div>
</body>
</html>