<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/passwordre.css' %}">
    <title>{{title}}</title>
</head>
<body>     
    <div class="container">
        {% if messagetype == "error" %}    
            <script defer>alert("{{message}}")</script>    
        {% endif %}
        
        <form action="" method="post"> 
            {%csrf_token%}        
            {% if gateway == "emailverification" %}
            <div class="sub-container1">
                <p>Write your email for authentication</p>
                <input type="text" class="input-text" name="emailtxt" id="emailtxt" placeholder="abc@gmail.com">
                <button type="submit" id="btn">Send</button>
            </div>
            
            {% elif gateway == "otpverify" %}  
            <div class="sub-container1">
                <p>We send otp to your email</p>
                <input type="text" class="input-text" name="otp" id="emailtxt" placeholder="0000">
                <button type="submit" id="btn">Submit</button>
            </div>
            {% elif gateway == "createpass" %} 
            <div class="sub-container2">
                <p>Create New Password</p>
                <div class="inp">
                    <input type="password" class="input-text" name="crpass" id="">
                    <input type="password" class="input-text" name="cnpass" id="">
                </div>
                <p>create password and confirm password should match</p>
                <button type="submit">Create</button>
            </div>
            {% endif %}     
        </form>
    </div>
</body>
</html>