@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: "Poppins","Sans-serif";
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container{
    width: 500px;
    height: 300px;
    color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(116, 116, 116);
    background-color: #0093E9;
    text-align: center;
}
.container .sub-container1 p{
    font-size: 20px;
}
.container .sub-container1 #emailtxt{
    width: 250px;
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    padding-left: 5px;
    color: #0093E9;
    font-weight: 500;
}
.container .sub-container1 #emailtxt::placeholder{
    color:#0093E9;
    font-weight: 500;
}

.container .sub-container1 button{
    width: 90px;
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #fff;
    color: #00bae9;
    font-size: 14px;
    font-weight: 500;
    transition: 0.1s;
}
.container .sub-container1 button:hover{
    width: 100px;
}
.container .sub-container2 .inp{
    display: flex;
    justify-content: space-between;
}
.container .sub-container2 .inp input{
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    padding-left: 5px;
    color: #0093E9;
    font-weight: 500;
    
}


.container .sub-container2 button{
    width: 90px;
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #fff;
    color: #00bae9;
    font-size: 14px;
    font-weight: 500;
    transition: 0.1s;
}
.container .sub-container2 button:hover{
    width: 100px;
}